body { 
    font-family: Arial; 
    background:#f2f2f2; 
    padding:20px; 
}

h1 {
    text-align:center; 
    color:#d9534f;
}

.menu-item {
    background:white; 
    padding:15px; 
    margin:10px 0;
    border-radius:8px; 
    display:flex; 
    justify-content:space-between;
}

button {
    padding:10px 15px; 
    background:#5cb85c; 
    color:white;
    border:none; 
    border-radius:5px; 
    cursor:pointer;
}

.total-box {
    background:#fff3cd; 
    padding:15px; 
    border-radius:8px;
    margin-top:10px; 
    font-size:18px;
}

.place-btn {
    background:#0275d8; 
    padding:12px 18px;
    margin-top:10px;
    border-radius:6px;
}

.owner-link {
    font-size:18px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 48%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-right: 5px;
}
